/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.debug {
    border: 1px solid red;
    height: 20px;
}
/*general*/
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
:root {
	--color-main-color: #141922;
	--color-evidence: #adff2f;
	--color-txt-grey: #7d7f84;
	--color-txt-main: #ffffff;
	--color-side-bar: #000000;
	--color-play-bar: #282828;
}
.wrapper{
    background-color: var(--color-main-color);
    height: 100vh;
}
#toolbar{
    background-color: var(--color-txt-grey);
    height: 90px;
}
.content{
    height: calc(100vh - 90px);
    width: 100%;
    background-color: var(--color-main-color);
}
#sidebar{
    width: 200px;
    background-color: var(--color-side-bar);
}
main{
    background-color: var(--color-main-color);
    color: var(--color-txt-main);
    width: calc(100% - 200px);
    padding-top: 100px;
    overflow-y: auto;
}
.header{
    background-color: rgba(0, 0, 0, 0.425);
    height: 80px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
}
/* utilities */

.d-flex{
    display: flex;
}
.middle{
    justify-content: center;
}
.gap-top{
    gap: 20px;
}
.gap-cards{
    gap: 15px;
}
.row{
    flex-direction: row;
}

/* inside */
main>ul{
    color: var(--color-txt-grey);
}
.section{
    margin-left: 20px;
    /* be aware of the calc */
}
.slot{
    margin-top: 30px;
    width: calc(100% / 6 - 35px);
}
.img img{
    width: 100%
}
.slot h4{
    color: var(--color-txt-grey)
}
.text-card{
    color: var(--color-txt-main);
    text-align: center;
    font-weight: bold;
}
.card-title{
    font-size: 25px;
}
.type{
    color: var(--color-txt-grey);
}
